@using Syncfusion.JavaScript;
@{
    ViewBag.Title = "Accordion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Accordion Features:</h2>
<br/>
<li> Multiple Open</li>
<li> Open On Hover</li>
<li> NestedAccordion</li>
<li> RTL</li>
<li> Theme - Flat-Azure-Dark</li>
<br/>
<div id = "ControlRegion">
<ej-accordion id="basicAccordion" enable-multiple-open="true" enable-rtl="true" events="mouseover">
        <e-accordion-items>
            <e-accordion-item text="ASP.NET">
                <e-content-template>
                    <div>
                        Essential Chart for ASP.NET MVC is a visually stunning, high-performance charting component that is easy to use.
                        It includes 35 chart types ranging from simple column charts to specialized financial charts.
                        The charts are highly customizable and have a powerful data model that makes data binding simple.
                    </div>
                </e-content-template>
            </e-accordion-item>
            <e-accordion-item text="ASP.NET MVC">
                <e-content-template>
                    <div>
                        The Model-View-Controller (MVC) architectural pattern separates an application into three main components:
                        the model, the view, and the controller. The ASP.NET MVC framework provides an alternative to the ASP.NET Web Forms pattern for creating Web applications. The ASP.NET MVC framework is a lightweight, highly testable presentation framework that (as with Web Forms-based applications) is integrated with existing ASP.NET features, such as master pages and membership-based authentication.
     <ej-accordion id="InnerAccordion">
        <e-accordion-items>
            <e-accordion-item text="ASP.NET">
                <e-content-template>
                    <div>
                        Essential Chart for ASP.NET MVC is a visually stunning, high-performance charting component that is easy to use.
                        It includes 35 chart types ranging from simple column charts to specialized financial charts.
                        The charts are highly customizable and have a powerful data model that makes data binding simple.
                    </div>
                </e-content-template>
            </e-accordion-item>
            <e-accordion-item text="ASP.NET MVC">
                <e-content-template>
                    <div>
                        The Model-View-Controller (MVC) architectural pattern separates an application into three main components:
                        the model, the view, and the controller. The ASP.NET MVC framework provides an alternative to the ASP.NET Web Forms pattern for creating Web applications. The ASP.NET MVC framework is a lightweight, highly testable presentation framework that (as with Web Forms-based applications) is integrated with existing ASP.NET features, such as master pages and membership-based authentication.
                    </div>
                </e-content-template>
            </e-accordion-item>
            <e-accordion-item text="Javascript">
                <e-content-template>
                    <div>
                        JavaScript (JS) is an interpreted computer programming language.
                        It was originally implemented as part of web browsers so that client-side scripts could interact with the user, control the browser,
                        communicate asynchronously, and alter the document content that was displayed. More recently, however,
                        it has become common in both game development and the creation of desktop applications.
                    </div>
                </e-content-template>
            </e-accordion-item>
        </e-accordion-items>
    </ej-accordion>
                    </div>
                </e-content-template>
            </e-accordion-item>
            <e-accordion-item text="Javascript">
                <e-content-template>
                    <div>
                        JavaScript (JS) is an interpreted computer programming language.
                        It was originally implemented as part of web browsers so that client-side scripts could interact with the user, control the browser,
                        communicate asynchronously, and alter the document content that was displayed. More recently, however,
                        it has become common in both game development and the creation of desktop applications.
                    </div>
                </e-content-template>
            </e-accordion-item>
        </e-accordion-items>
</ej-accordion>
<style>
        #container {
            height: 100%;
            width: 80%;
            border: 1px solid #BBBCBB;
            margin: 0px auto;
        }
        #basicAccordion img {
            float: left;
            height: 40px;
            padding-right: 6px;
        }
        .emp-list {
            border-bottom: 1px solid #BBBCBB;
            margin-bottom: 9px;
            padding-bottom: 9px;
        }
            .emp-list:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        .time-panel {
            float: right;
            color: #2382C3;
        }
        .headername {
            font-size: 16px;
            font-weight: 600;
        }
    </style>
</div>
