@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Upload Features:</h2>
<br/>
<li> Upload Samples - Default Functionalities</li>
<li> Theme - Flat-Azure-Dark</li>
<br/>
<div id = "ControlRegion">
              <div class="frame">
        <div class="control">
            <div class="posupload">Select a file to upload</div>
            <ej-upload-box id="uploadbox1" width="100px">
                <e-button-text browse="File Browse" />
                <e-dialog-action close-on-complete="true" />
                <e-dialog-text size="filesize" />
            </ej-upload-box>
        </div>
    </div>
    <style class="cssStyles">
        .posupload {
            padding: 10px;
            text-align: center;
        }
        #uploadbox1 {
            margin: 0 auto;
        }
    </style>
</div>
