@using Syncfusion;
@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.Models
@using IDSkills.Data
@using IDSkills.WebApp.Models.FamousFolks

@*@Model FolksViewModel*@
@model FolkListViewModel
@{
    ViewBag.Title = "Famous Folks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        var detailsPartial = $('#details');

        $('.details-link').click(function (event) {
            event.preventDefault();
            var url = $(this).attr('href');

            $.ajax({
                url: url,
                type: 'get',
                success: function(data) {
                    detailsPartial.html(data);
                    $('#clearDetails').click(function () {
                        detailsPartial.html(null);
                    });
                }
            });
        });
    });
</script>
<h2>Famous Folks</h2>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 50%; float: left;">
        <table cellspacing="2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Birth Location</th>
                    <th>Field of Expertise</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (FolkViewModel folk in Model.Folks)
            {
                    <tr onclick="">
                        <td>@Html.DisplayFor(x => folk.FullName)</td>
                        <td>@Html.DisplayFor(x => folk.BirthLocation)</td>
                        <td>@Html.DisplayFor(x => folk.FieldOfExpertise)</td>
                        <td>@Html.ActionLink("Details", "Details", new { id = folk.ID }, new { @class = "details-link" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="details" style="margin-left: 50%;"></div>
</div>
