@{
    ViewBag.Title = "Dropdownlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dropdownlist Features:</h2>
<br/>
<li> Dropdownlist Samples - Default Functionalities</li>
<li> Theme - Flat-Azure-Dark</li>
<br/>
<div id = "ControlRegion">
              <div class="frame">
        <div class="control">  
            <ej-drop-down-list id="selectCar" target-id="carsList" watermark-text="Select a Car"></ej-drop-down-list>
            <div id="carsList">
                <ul>
                    <li>Audi A4</li>
                    <li>Audi A5</li>
                    <li>Audi A6</li>
                    <li>Audi A7</li>
                    <li>Audi A8</li>
                </ul>
            </div>
        </div>
    </div>
</div>
